#torch==2.2.2
#torchvision==0.17.2
#flash_attn-2.7.3+cu11torch2.2cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
#timm==1.0.14
albumentations==1.4.0
onnx==1.16.0
onnxruntime==1.18.0
pycocotools==2.0.7
PyYAML==6.0.1
scipy==1.13.1
onnxslim==0.1.31
onnxruntime-gpu==1.18.0
opencv-python==4.9.0.80
psutil==5.9.8
py-cpuinfo==9.0.0
safetensors==0.4.3


# ⚠️ 建议手动安装，避免 torch 被覆盖
# pip install gradio==4.44.1 --no-deps
# pip install huggingface-hub==0.23.2 --no-deps
# pip install supervision==0.22.0 --no-deps